@{
    //Key variables that are mandatory
    var pgid = PayhostSOAP.DEFAULT_PGID;
    var reference = GlobalUtility.generateReference();
    var encryptionKey = PayhostSOAP.DEFAULT_ENCRYPTION_KEY;
    var payrequestId = "";
    var transId = "";
    var queryResponse = "";
    var queryRequestText = "";

    //Set up Payhost Web Service
    PayHost.PayHOST payHOST = new PayHost.PayHOSTClient("PayHOSTSoap11");
    ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

    //Will make a SingleFollowUp call
    PayHost.QueryRequestType queryRequest = new PayHost.QueryRequestType();
    queryRequest.Account = new PayHost.PayGateAccountType();
    queryRequest.Account.PayGateId = pgid;
    queryRequest.Account.Password = encryptionKey;


    if (Request["btnSubmit"] != null)
    {
        var identifier = Request["identifier"];
        switch (identifier)
        {
            case "payrequestid":
                queryRequest.ItemsElementName = new PayHost.ItemsChoiceType2[]
                {
PayHost.ItemsChoiceType2.PayRequestId
                };
                queryRequest.Items = new string[] { Request["payrequestid"] };
                break;
            case "reference":

                queryRequest.ItemsElementName = new PayHost.ItemsChoiceType2[]
                {
PayHost.ItemsChoiceType2.MerchantOrderId
                };
                queryRequest.Items = new string[] { Request["reference"] };

                break;
            case "transid":
                queryRequest.ItemsElementName = new PayHost.ItemsChoiceType2[]
                {
PayHost.ItemsChoiceType2.TransactionId
                };
                queryRequest.Items = new string[] { Request["transid"] };
                break;
        }

        queryRequestText = PayhostSOAP.getXMLText(queryRequest);

        try
        {
            var fupRequest = new PayHost.SingleFollowUpRequest
            {
                Item = queryRequest
            };

            var response = payHOST.SingleFollowUp(new PayHost.SingleFollowUpRequest1(fupRequest));
            var t = response.SingleFollowUpResponse as PayHost.SingleFollowUpResponse;
            var status = t.Items[0] as PayHost.QueryResponseType;

            queryResponse = PayhostSOAP.getXMLText(status);
        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }
}

<html>
<head>
    <title>PayHost - Query</title>
    <style type="text/css">
        label {
            margin-top: 5px;
            display: inline-block;
            width: 150px;
        }
    </style>
</head>
<body>
    <a href="../singleFollowUp/query.cshtml">Back to Query</a>
    <br>
    <form role="form" class="form-horizontal text-left" action="simple_query.cshtml" method="post">
        <label for="payGateId">PayGate ID</label>
        <input type="text" name="payGateId" id="payGateId" value="@pgid" />
        <br>
        <label for="encryptionKey" class="col-sm-3 control-label">Encryption Key</label>
        <input class="form-control" type="text" name="encryptionKey" id="encryptionKey" value="@encryptionKey" />
        <br>
        <label for="payrequestidChk" class="sr-only">Use Pay Request ID</label>
        <input name="identifier" id="payrequestidChk" value="payrequestid" type="radio" aria-label="Pay Request ID Checkbox">
        <br>
        <label for="transidChk" class="sr-only">Use Transaction ID</label>
        <input name="identifier" id="transidChk" value="transid" type="radio" aria-label="Transaction ID Checkbox">
        <br>
        <label for="referenceChk" class="sr-only">Use Reference</label>
        <input name="identifier" id="referenceChk" value="reference" type="radio" aria-label="Reference Checkbox" checked />
        <br>
        <label for="payRequestId" class="col-sm-3 control-label">Pay Request ID</label>
        <input type="text" name="payRequestId" id="payRequestId" class="form-control" aria-label="Pay Request ID Input" value="@payrequestId" />
        <br>
        <label for="transId" class="col-sm-3 control-label">Transaction ID</label>
        <input type="text" name="transId" id="transId" class="form-control" aria-label="Transaction ID Input" value="@transId" />
        <br>
        <label for="reference" class="col-sm-3 control-label">Reference</label>
        <input type="text" name="reference" id="reference" class="form-control" aria-label="Reference Input" value="@reference">
        <br>
        <input id="doQueryBtn" type="submit" name="btnSubmit" value="Do Query" />
    </form>
    <label style="vertical-align: top;" for="request">REQUEST:</label>
    <textarea rows="20" cols="100" id="request">@queryRequestText</textarea><br>
    <label style="vertical-align: top;" for="response">RESPONSE:</label>
    <textarea rows="20" cols="100" id="response">@queryResponse</textarea>
</body>
</html>