@*
    Refund transaction example - simple format
*@

@using System.Globalization;
@{
    //Key variables that are mandatory
    var pgid = PayhostSOAP.DEFAULT_PGID;
    var reference = GlobalUtility.generateReference();
    var encryptionKey = PayhostSOAP.DEFAULT_ENCRYPTION_KEY;
    var transId = "";
    var merchantOrderId = "";
    var refundResponse = "";
    var refundRequestText = "";
    string amount = "";

    //Set up Payhost Web Service
    PayHost.PayHOST payHOST = new PayHost.PayHOSTClient("PayHOSTSoap11");
    ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

    //Will make a SingleFollowUp call
    PayHost.RefundRequestType refundRequest = new PayHost.RefundRequestType();
    refundRequest.Account = new PayHost.PayGateAccountType();
    refundRequest.Account.PayGateId = pgid;
    refundRequest.Account.Password = encryptionKey;

    if (Request["amount"] != null && Request["amount"] != "")
    {
        //Amount must be in cents
        //Replace decimal comma with decimal point
        amount = Request["amount"].Replace(",", ".");
        //And multiply to get rands
        refundRequest.Amount = (int)(100 * Decimal.Parse(Request["amount"], CultureInfo.InvariantCulture));
    }

    if (Request["btnSubmit"] != null)
    {
        var identifier = Request["identifier"];
        switch (identifier)
        {
            case "merchantorderid":
                refundRequest.ItemElementName = new PayHost.ItemChoiceType1();
                refundRequest.ItemElementName = PayHost.ItemChoiceType1.MerchantOrderId;
                refundRequest.Item = Request["merchantOrderId"];
                break;
            case "transid":
                refundRequest.ItemElementName = new PayHost.ItemChoiceType1();
                refundRequest.ItemElementName = PayHost.ItemChoiceType1.TransactionId;
                refundRequest.Item = Request["transid"];
                break;
        }


        refundRequestText = PayhostSOAP.getXMLText(refundRequest);

        try
        {
            var fupRequest = new PayHost.SingleFollowUpRequest
            {
                Item = refundRequest
            };

            var response = payHOST.SingleFollowUp(new PayHost.SingleFollowUpRequest1(fupRequest));
            var t = response.SingleFollowUpResponse as PayHost.SingleFollowUpResponse;
            var status = t.Items[0] as PayHost.RefundResponseType;

            refundResponse = PayhostSOAP.getXMLText(response);

        }
        catch (Exception e)
        {
            var err = e.Message;
        }
    }

}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>PayHost - Refund</title>
    <style type="text/css">
        label {
            margin-top: 5px;
            display: inline-block;
            width: 150px;
        }
    </style>
</head>
<body>
    <a href="../singleFollowUp/refund.cshtml">Back to Refund</a>
    <br />
    <form role="form" class="form-horizontal text-left" action="simple_refund.cshtml" method="post">
        <label for="payGateId" class="col-sm-3 control-label">PayGate ID</label>
        <input class="form-control" type="text" name="payGateId" id="payGateId" value="@pgid" /><br />
        <label for="encryptionKey" class="col-sm-3 control-label">Encryption Key</label>
        <input class="form-control" type="text" name="encryptionKey" id="encryptionKey" value="@encryptionKey" /><br />
        <label for="amount" class="col-sm-3 control-label">Amount</label>
        <input type="text" name="amount" id="amount" class="form-control" aria-label="amount input" value="@amount" /><br />
        <span class="input-group-addon">
            <label for="merchantOrderIdChk" class="sr-only">Merchant Order ID</label>
            <input name="identifier" id="merchantOrderIdChk" value="merchantorderid" type="radio" aria-label="Merchant Order ID Checkbox">
        </span>
        <input type="text" name="merchantOrderId" id="merchantOrderId" class="form-control" aria-label="Merchant Order ID Input" value="@merchantOrderId" /><br />
        <span class="input-group-addon">
            <label for="transidChk" class="sr-only">Transaction ID Checkbox</label>
            <input name="identifier" id="transidChk" value="transid" type="radio" aria-label="Transaction ID Checkbox">
        </span>
        <input type="text" name="transId" id="transId" class="form-control" aria-label="Transaction ID Input" value="@transId" />
        <br>
        <div class="form-group">
            <div class=" col-sm-offset-4 col-sm-4">
                <img src="/../../lib/images/loader.gif" alt="Processing" class="initialHide" id="queryLoader">
                <input class="btn btn-success btn-block" id="doVoidBtn" type="submit" name="btnSubmit" value="Do Refund" />
            </div>
        </div>
        <br>
    </form>
    <label style="vertical-align: top;" for="request">REQUEST: </label>
    <textarea rows="20" cols="100" id="request" class="form-control">@refundRequestText</textarea><br />
    <label style="vertical-align: top;" for="response">RESPONSE: </label>
    <textarea rows="20" cols="100" id="response" class="form-control">@refundResponse</textarea>
</body>
</html>
